In [1]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

In [43]:
#Training Data
data = pd.read_csv('archive/car data.csv')
data = data.drop(["Owner",'Seller_Type', 'Transmission'],axis=1)

In [41]:
#Features
features = np.array(data.columns)
features

array(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Transmission'], dtype=object)

In [44]:
from sklearn.calibration import LabelEncoder

#One Hot Encoding  of Categorical Variables
label_encoder = LabelEncoder()
data['Car_Name'] = label_encoder.fit_transform(data.loc[:,["Car_Name"]])
data['Fuel_Type'] = label_encoder.fit_transform(data.loc[:,["Fuel_Type"]])
data

/Users/dishantharya/micromamba/lib/python3.9/site-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/dishantharya/micromamba/lib/python3.9/site-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

     Car_Name  Year  Selling_Price  Present_Price  Kms_Driven  Fuel_Type
0          90  2014           3.35           5.59       27000          2
1          93  2013           4.75           9.54       43000          1
2          68  2017           7.25           9.85        6900          2
3          96  2011           2.85           4.15        5200          2
4          92  2014           4.60           6.87       42450          1
..        ...   ...            ...            ...         ...        ...
296        69  2016           9.50          11.60       33988          1
297        66  2015           4.00           5.90       60000          2
298        69  2009           3.35          11.00       87934          2
299        69  2017          11.50          12.50        9000          1
300        66  2016           5.30           5.90        5464          2

[301 rows x 6 columns]

In [ ]:
#Trying to predict the car name using linear regression

In [ ]:
#Learning Rate
a = 0.01

In [ ]:
#Defining Cost Function
def cost_func():